* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Lato', sans-serif;
}

.lato-thin {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-semibold {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-thin-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
}
